.dialog {
    color: lightskyblue;
    background-color: lightskyblue;
    margin: 5px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    border-radius: 10px;
}

.avatarImg img {
    border-radius: 90%;
    width: 60px;
    height: 60px;
    padding-top: 2px;
}

.userName {
    padding-top: 15px;
}

.userName span {
    font-size: x-large;
}

.dialog:hover {
    background-color: dodgerblue;
    font-weight: bold;
}

.userName a {
    text-decoration: none;
    color: white;
}

.userName a.activeLink {
    border: 10px;
    color: black;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

