.nav {
    grid-area: n;
    background-color: lightgray;
    padding: 20px;
    padding-top: 10px;
}

.item {
    margin-bottom: 10px;
}

.item a{
    color: lightskyblue;
    text-decoration: none;
}

.item a.activeLink {
    color: black;
}